<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>PrOCAV Editor</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/editor/css/jquery-ui-1.8.17.custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/editor/css/ui.jqgrid.css" />
    <link rel="stylesheet" type="text/css" href="/editor/css/editor-style.css" />
    <script type="text/javascript" src="/editor/js/jquery-1.7.1.min.js"> </script>
    <script type="text/javascript" src="/editor/js/grid.locale-en.js"> </script>
    <script type="text/javascript" src="/editor/js/jquery.jqGrid.min.js"> </script>
    <script type="text/javascript" src="/editor/js/editor-functions.js"> </script>
    <script type="text/javascript">
      jQuery(document).ready(function () { initialise_table(jQuery.getUrlVar('table_name')); });
    </script>
  </head>
  <body>
    <h1>PrOCAV Editor</h1>
    <table id="table"><tr><td /></tr></table>
    <div id="pager"></div>
  </body>
</html>
