html,body {
  height:100%;
}

body {
  margin:0px;
  padding:0px;
  background-color:#FFFFFF;
  font-family: "Crimson Text", Georgia, serif;
  font-size:12pt;
}

#outer-container {
  margin:0px;
  padding:0px;
  min-height:100%;
  position:relative;
  background-color:#43525A;
}

#title-area {
  background-color:#43525A;
  margin:0px;
  padding-top:15px;
  padding-bottom:30px;
  width:100%;
  height:150px;
  border-bottom-right-radius: 25px;
  -moz-border-radius-bottomright: 25px;
}

h1 {
  background-color:#43525A;
  color:#80D5ED;
  font-family: 'Dosis', sans-serif;
  font-size:72px;
  text-align:center;
  width:100%;
  margin:0px;
}

#page-subtitle {
  background-color:#43525A;
  color:#80D5ED;
  font-family: 'Dosis', sans-serif;
  font-size:18px;
  text-align:center;
  width:100%;
  margin:0px;
}

#fulltext-search form, #fulltext-search2 form {
  margin:0px;
  padding:0px;
  background-color:#43525A;
}

#fulltext-search p, #fulltext-search2 p {
  margin:0px;
  padding:0px;
  color:#80D5ED;
  font-family:'Dosis', sans-serif;
  font-size:85%;
}

#fulltext-search input, #fulltext-search2 input {
  margin:0px;
  padding:3px;
  border:1px solid #808080;
  color:#505050;
  font-family:monospace;
  font-size:85%;
  width:8em;
}

#body {
  width:960px;
  margin:0px;
  background-color:#FFFFFF;
}

#left-area {
  float:left;
  width:200px;
  background-color:#43525A;
  border-bottom-right-radius: 25px;
  -moz-border-radius-bottomright: 25px;
}

/*
#left-area:before {
    content:'';
    width:20px;
    height:20px;
    background:#000;
    border-left:1px solid #000;
    position:absolute;
    top:150px;
    left:200px;
    z-index:1;
}
#left-area:after {
    content:'';
    border-radius:0 0 0 20px;
    -moz-border-radius:0 0 0 20px;
    border:solid #000;
    border-width:1px 0 0 1px;
    width:20px;
    height:19px;
    position:absolute;
    top:150px;
    left:200px;
    z-index:1;
}
*/

#container {
  float:right;
  width:760px;
}

.main-content {
  float:left;
  width:520px;
  background-color:#FFFFFF;
  padding-left:40px;
  padding-top:20px;
  border-top-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  /*
  border-left: 25px solid #000000;
  border-radius: 40px / 40px;
  border-top: 25px solid #000000;
  */
}

#right-area {
  float:right;
  width:240px;
}

#footer {
  clear:both;
  /*position:absolute;*/
  bottom:0px;
  color:#A0A0A0;
}

#footer a, #footer a:link, #footer a:visited {
  color:#A0A0A0;
}

#catalogue-menu {
  margin-top:10px;
  margin-bottom:50px;
  margin-left:0px;
  margin-right:0px;
  list-style:none;
}

#catalogue-menu li {
  padding-left:0px;
  padding-top:30px;
  padding-right:10px;
  font-family:'Dosis', sans-serif;
  font-size:16pt;
  letter-spacing:2px;
  font-variant:small-caps;
  color:#80D5ED;
}

#catalogue-menu a {
  text-decoration:none;
  font-style:normal;
  color:#80D5ED;
}

#catalogue-menu a:link {
}

#catalogue-menu a:hover {
  text-decoration:none;
  font-style:normal;
}

#navigation {
  font-size:75%;
  list-style:none;
}

#navigation li {
  display:inline;
  margin:0px;
  padding-left:10px;
  padding-right:0px;
}

#navigation a {
  text-decoration:underline;
  color:#000000;
}

#navigation a:link {
  text-decoration:underline;
  color:#000000;
}

#navigation a:hover {
  text-decoration:underline;
  color:#000000;
}

canvas {
  float:right;
  margin:5px;
  border:5px solid #CECECE;
  padding:5px;
}

h2 {
  font-size:18pt;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:20px;
  padding:0px;
  border-bottom:1px solid #000000;
}

h3 {
  font-size:16pt;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:10px;
  padding:0px;
}

h4 {
  font-size:14pt;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:10px;
  padding:0px;
}

.main-content a {
  text-decoration:underline;
  color:#000000;
}

.main-content a:link {
  text-decoration:underline;
  color:#000000;
}

.main-content a:hover {
  text-decoration:underline;
  color:#000000;
}

.field {
  
}

.field .name {
  font-weight:bold;
}

.field .name:after {
  content: ": ";
}

.hidden {
  display:none;
}

.composer {
  display:none;
}

ul.content {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:20px;
}

ul.content li {
  margin:0px;
}

.details {
  margin:0px;
  padding:10px;
  background-color:#F0F0F0;
}

div.instrumentation {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:20px;
  padding:0px;
}

ul.instrumentation {
  margin:0px;
  padding:0px;
  display:inline;
}

.instrument {
  display:inline;
}

.instrument:after {
  content: ", ";
}

.work-parts {
  margin-left:30px;
}

.work-parts h3 {
  margin-left:-30px;
}

.text-content {
  
}

.line {
  display:block;
}

table#general-listings {
  border-collapse:collapse;
  border:10px solid #FFFFFF;
}

#general-listings td {
  margin:0px;
  padding-top:8px;
  padding-bottom:8px;
  padding-left:15px;
  padding-right:20px;
  border:10px solid #FFFFFF;
  background:#80D5ED;
  text-align:center;
}

#general-listings a:link {
  text-decoration:none;
  color:#606060;
  font-family:monospace;
}

#general-listings a:hover {
  text-decoration:none;
  color:#606060;
  font-family:monospace;
}

div.browse-option {
  margin-bottom:10px;
  margin-right:10px;
  padding:5px;
  border:1px solid #606060;
}

.browse-option form {
  margin:0px;
  padding:0px;
}

.browse-option form p {
  margin:0px;
  padding:0px;
}

.browse-option input {
  margin:0px;
  padding:3px;
  border:1px solid #A0A0A0;
  font-family:monospace;
  color:#606060;
  font-size:80%;
}

.browse-option select {
  font-family:monospace;
  color:#606060;
  font-size:80%;
}

.browse-option option {
  margin:0px;
  padding:3px;
  border:1px solid #A0A0A0;
  font-family:monospace;
  color:#606060;
  font-size:80%;
}

.hint a {
  display:block;
  margin:0px;
  border:none;
  text-decoration:none;
  color:#A0A0A0;
}

.hint a span {
  float:right;
  display:none;
  color:#A0A0A0;
}

.hint a:hover {
  background:none;
  border:none;
  text-decoration:none;
}

.hint a:hover span {
  display:inline;
}

.popup {
  display:inline;
  margin:2px;
  border:3px solid #A5995D;
  border-radius:6px;
  -moz-border-radius:6px;
  padding:7px;
  background-color:#FCEA8E;
  font-family: 'Oxygen', sans-serif;
  font-size:85%;
  font-weight:normal;
  color:#000000;
}

.explanation-toggle {
  font-size:80%;
  font-weight:bold;
  font-family: 'Oxygen', sans-serif;
  margin-left:3px;
  padding-left:5px;
  padding-right:5px;
  padding-top:1px;
  padding-bottom:1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  cursor:pointer;
  background-color:#0857D7;
  color:#FFFFFF;
}
